html
    head
        title=title
    body
        h1=header
        p=message
    ul
        each route in ["/","api/genres","api/movies","api/customers","api/users/me","api/rentals"]
            a(href=route) #{route}
            | #{' | '}
